body {
	background-color: #efe;
	font-family: Arial;
}

#game-canvas {
	border: 4px solid #004080;
	border-radius: 8px;
	box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.4);
}

#controls {
	margin: 20px;
}

#score-div {
	display: inline-block;
	vertical-align: top;
	padding: 20px;
	margin: 10px;
	background-color: #ee2;
	border: 4px solid #004080; border-radius : 8px;
	box-shadow: 10px 15px 24px 0px rgba(0, 0, 0, 0.4);
	border-radius: 8px;
}

.score {
	padding-left: 20px;
	font-family: monospace;
}

#level-selection {
	margin-bottom: 10px;
}

#level-selection a {
	padding: 10px;
	border-radius: 8px;
	text-decoration: none;
	font-weight: bold;
}

#level-selection .selected {
	background-color: white;
}

#game-progress-wrapper {
	width: 800px;
	border-width: 2px;
	border-color: #222;
	border-style: solid;
	margin-bottom: 10px;
	border: 4px solid #004080;
	border-radius: 8px;
	background-color: #e6e6e6;
}

#game-progress {
	height: 12px;
	width: 0px;
	background-color: #ee2;
	border-radius: 8px;
}

#score-div td {
	font-size: 40px;
}

button {
	cursor: pointer; border : 4px solid #004080;
	border-radius: 8px;
	background-color: #ee2;
	padding: 10px;
	font-weight: bold;
	border: 4px solid #004080;
}
